@import "normalize.css/normalize.css";

.editor {
  background-color: #3b4252;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
.code-block {
  padding-top: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
}
@import "./prism-nord.scss";
@import "./uikit.scss";
