$global-color: #d8dee9;
$global-emphasis-color: #e5e9f0;
$global-muted-color: #e5e9f0;

$global-link-color: #5e81ac;
$global-link-hover-color: #88c0d0;

$global-background: #2e3440;
$global-muted-background: #3b4252;
$global-primary-background: #5e81ac;
$global-secondary-background: #4c566a;

$global-success-background: #a3be8c;
$global-warning-background: #d08770;
$global-danger-background: #bf616a;

$button-primary-background: #5e81ac;
$progress-bar-background: #5e81ac;

$form-radio-background: $global-secondary-background;

$form-select-option-color: $global-muted-color;

$form-range-track-background: $global-link-color;
$form-range-track-focus-background: $global-link-hover-color;

// Keep these in same order as https://github.com/uikit/uikit/blob/develop/src/scss/components/_import.scss
@import "uikit/src/scss/variables.scss";
@import "uikit/src/scss/mixins.scss";
@import "uikit/src/scss/components/base.scss";

// Elements
@import "uikit/src/scss/components/link.scss";
@import "uikit/src/scss/components/heading.scss";
@import "uikit/src/scss/components/list.scss";
@import "uikit/src/scss/components/icon.scss";
@import "uikit/src/scss/components/form-range.scss";
@import "uikit/src/scss/components/form.scss";
@import "uikit/src/scss/components/button.scss";
@import "uikit/src/scss/components/progress.scss";

// Layout
@import "uikit/src/scss/components/section.scss";
@import "uikit/src/scss/components/container.scss";
@import "uikit/src/scss/components/tile.scss";
@import "uikit/src/scss/components/card.scss";

// Common
@import "uikit/src/scss/components/spinner.scss";
@import "uikit/src/scss/components/alert.scss";
@import "uikit/src/scss/components/label.scss";

// JavaScript
@import "uikit/src/scss/components/modal.scss";
@import "uikit/src/scss/components/slider.scss";
@import "uikit/src/scss/components/switcher.scss";
@import "uikit/src/scss/components/notification.scss";

// Other
@import "uikit/src/scss/components/grid.scss";

@import "uikit/src/scss/components/nav.scss";
@import "uikit/src/scss/components/navbar.scss";
@import "uikit/src/scss/components/subnav.scss";
@import "uikit/src/scss/components/tab.scss";

// Utils

@import "uikit/src/scss/components/width.scss";
@import "uikit/src/scss/components/height.scss";
@import "uikit/src/scss/components/text.scss";
@import "uikit/src/scss/components/column.scss";
@import "uikit/src/scss/components/cover.scss";
@import "uikit/src/scss/components/background.scss";
@import "uikit/src/scss/components/align.scss";
@import "uikit/src/scss/components/svg.scss";
@import "uikit/src/scss/components/utility.scss";
@import "uikit/src/scss/components/flex.scss";
@import "uikit/src/scss/components/margin.scss";
@import "uikit/src/scss/components/padding.scss";
@import "uikit/src/scss/components/position.scss";
@import "uikit/src/scss/components/inverse.scss";

// TODO: replace this with a better solution to https://github.com/uikit/uikit/discussions/4458
.uk-input-copyable {
  padding-left: $form-icon-width !important;
}
